{% extends 'doctorNav.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title> Create Test </title>
    <link rel="stylesheet" type="text/css" href="{% static 'createTest.css' %}">
</head>

<body>
    <div class="form-wrapper">
      <h1> Create Philadelphia Pointing Span Test </h1>
      <h2> Currently Signed in as Doctor: {{ user.first_name }} {{ user.last_name }} </h2>
  
      <form>
        <div>
          <label for="patient_age">Patient Age:</label>
          <input type="text" id="age" name="age">    
        </div>
  
        <div>
          <label for="patient_email">Patient Email:</label>
          <input type="text" id="email" name="email">    
        </div>
  
        <div style="font-size: 1em; margin-top: 10px;">
          <label for="language" style="display: block; margin-bottom: 10px;">Language:</label>
          <select id="language" name="language" style="width: 40%; padding: 10px; font-size: 1em;">
            <option class="language" data-lang="en">English</option>
            <option class="language" data-lang="es">Spanish</option>
            <option class="language" data-lang="fr">French</option>
            <option class="language" data-lang="de">German</option>
          </select>
        </div>

        <button id="sendEmailBtn" type="button">Create Test</button>
      </form>
    </div>
  
    <script>
      document.getElementById("sendEmailBtn").addEventListener("click", function () {
          const age = document.getElementById("age").value;
          const email = document.getElementById("email").value;
          const language = document.getElementById("language").options[document.getElementById("language").selectedIndex].getAttribute("data-lang");
          if (age < 0 || age > 110) {
            showCustomErrorAlert("Please enter a valid age between 0 and 110.");
              return;
          }
    
          if (!email) {
            showCustomErrorAlert("Please enter a valid email address.");
              return;
          }
    
          fetch("{% url 'PPST:createTest' %}", {
              method: "POST",
              headers: {
                  "X-CSRFToken": "{{ csrf_token }}",
                  "Content-Type": "application/json"
              },
              body: JSON.stringify({ age: age, email: email, language: language })
          })
          .then(response => response.json())
          .then(data => {
              if (data.message) {
                  showCustomAlert(data.test_id);
              } else if (data.error) {
                  alert("Error: " + data.error);
              }
          })
          .catch(error => console.error("Error:", error));
      });
      
      function showCustomErrorAlert(message) {
        const popup = document.getElementById("customErrorAlert");
        const errorMessageText = popup.querySelector("#testIdText strong");
        errorMessageText.textContent = message;
        popup.style.display = "block";
      }

      function showCustomAlert(testId) {
          const popup = document.getElementById("customAlert");
          const testIdText = document.getElementById("testIdText").querySelector("strong");
          testIdText.textContent = testId;
          popup.style.display = "block";
      }
    
      function closeCustomErrorAlert() {
        document.getElementById("customErrorAlert").style.display = "none";
      }
    

      function closeCustomAlert() {
          document.getElementById("customAlert").style.display = "none";
      }
    </script>
    
    <div id="customAlert" class="custom-popup" style="display: none;">
      <h2> Test created successfully, save the Test ID.</h2>
      <p id="testIdText">Test ID: <strong></strong></p>
      <button onclick="closeCustomAlert()">Okay</button>
    </div>
    
    <div id="customErrorAlert" class="custom-popup" style="display: none;">
      <h2>Error</h2>
      <p id="testIdText">Message: <strong></strong></p>
      <button onclick="closeCustomErrorAlert()">Okay</button>
    </div>
    

  </body>
  

</body>

</html>
{% endblock %}