{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Site{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'doctorHomePage.css' %}">
</head>
<body>
    <!-- Shared Navbar -->
    <nav class="navbar" id = "DrNavbar">
        <div class="navbar_container">
            
            <img src="{% static 'Images/DRBabyWario.jpg' %}" alt="logoPic" id="navbar_logo">
            
            <div class = "navbar_toggle" id = "mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar_menu">
                <li class="navbar_item">
                    <a href="/PPST/testInfo" class ="navbar_links">
                        Patient Logs
                    </a>
                </li>
                <li class="navbar_item">
                    <a href="/PPST/average_statistics" class ="navbar_links">
                        Average Statistics
                    </a>
                </li>
                <li class="navbar_item">
                    <a href="/PPST/ppstcreate" class ="navbar_links">
                        Test Creation
                    </a>
                </li>
                <li class= "navbar_btn">
    
                </li>
            </ul>
        </div>
    </nav>

    <!-- Page-specific content -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>