{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Site{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'doctorNav.css' %}">
</head>
<body>
    <!-- Shared Navbar -->
    <nav class="navbar" id = "DrNavbar">
        <div class="navbar_container">
            
            <a href="{% url 'PPST:doctorHomePage' %}">
                <img src="{% static 'images/DRBabyWario.jpg' %}" alt="logoPic" id="navbar_logo">
            </a>
            
            <div class="hamburger" id="hamburger-icon">
                <div></div>
                <div></div>
                <div></div>
            </div>

            <ul class="navbar_menu" id="navbar-menu">
                <li class="navbar_item">
                    <a href="/PPST/testInfo" class="navbar_links">
                        Patient Logs
                    </a>
                </li>
                <li class="navbar_item">
                    <a href="/PPST/average_statistics" class="navbar_links">
                        Average Statistics
                    </a>
                </li>
                <li class="navbar_item">
                    <a href="/PPST/ppstcreate" class="navbar_links">
                        Test Creation
                    </a>
                </li>
                <li class="navbar_item">
                    <a href="/PPST/logout" class="navbar_links">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <script>
        const hamburger = document.getElementById('hamburger-icon');
        const navbarMenu = document.getElementById('navbar-menu');

        // JavaScript to toggle the menu on mobile
        hamburger.addEventListener('click', function(){
            this.classList.toggle('active');
            navbarMenu.classList.toggle('active'); // Toggle the visibility of the menu
        });
    </script>

    <!-- Page-specific content -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>



</html>