<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="doctorHomePage.css">
    </head>



<nav class="navbar" id = "DrNavbar">
    <div class="navbar_container">
        
        <img src="/Images/DRBabyWario.jpg" alt="logoPic" id="navbar_logo">
        
        <div class = "navbar_toggle" id = "mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="navbar_menu">
            <li class="navbar_item">
                <a href="/patientsLogs.html" class ="navbar_links">
                    Patient Logs
                </a>
            </li>
            <li class="navbar_item">
                <a href="/average_statistics.html" class ="navbar_links">
                    Average Statistics
                </a>
            </li>
            <li class="navbar_item">
                <a href="/createTest.html" class ="navbar_links">
                    Test Creation
                </a>
            </li>
            <li class= "navbar_btn">

            </li>
        </ul>
    </div>
</nav>

 <!-- Hero Section-->
 <div class="main">
    <div class="main__container">
        <div class="main__content">
            <h1>Notifications</h1>
            <p>Messages YIPPIE</p>
            <button class="main__btn"><a href="#">Open</a></button>
        </div>
        <div class="main__img--container">
            <img src="Images/Goomba.webp" alt="pic" id="main__img">
        </div>
    </div>
</div>

</html>