<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'initialStyle.css' %}">
    <title>Reset Password - New Password</title>
</head>
<body>
    <div class="banner">
        <p class="banner-text">Philadelphia Pointing Span Test: Doctor page</p>
    </div>
    <div class="login-container">
        <h2>Set New Password</h2>
        <form method="post">
            {% csrf_token %}
            <input type="password" name="new_password" placeholder="Enter your new password" required>
            <button type="submit">Reset Password</button>
        </form>
    </div>
</body>
</html>