<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Philadelphia Pointing Span Test - Settings</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'settings.css' %}">
</head>

<script>
  function handleTTSClick() {
    const img = document.getElementById("tts_image");
    const textToSpeech = `
      Select english, spanish, french or german. 
      text size can be changed to small, medium, large or larger. 
      proceed button below.`;

    const utterance = new SpeechSynthesisUtterance(textToSpeech);
    utterance.volume = 0.5;

    img.classList.add("speaking");

    utterance.onend = () => {
      img.classList.remove("speaking");
    };

    window.speechSynthesis.speak(utterance);
  }
</script>

<body>
    <h1>Settings</h1>
    <div class="main__img--container">
      <img src="{% static 'images/audio.png' %}" alt="Audio icon" id="tts_image" onclick="handleTTSClick()">
    </div>
    <div id="language-button">
        <button type="button" data-lang="en" class="language-button">English</button>
        <button type="button" data-lang="es" class="language-button">Spanish</button>
        <button type="button" data-lang="fr" class="language-button">French</button>
        <button type="button" data-lang="de" class="language-button">German</button>
    </div>
      
    <div id="content">
      <p>Sample text to see font sizes.</p>
    </div>
  
    <div id="controls">
      <button onclick="changeFontSize('small')">Small</button>
      <button onclick="changeFontSize('medium')">Medium</button>
      <button onclick="changeFontSize('large')">Large</button>
      <button onclick="changeFontSize('larger')">Larger</button>
    </div>
  
    <div>
        <button id="startTest" class="proceed-button">Proceed</button>
    </div>
<script>
    // saves language to local storage
    const languageButtons = document.querySelectorAll('.language-button');

    languageButtons.forEach(button => {
      button.addEventListener('click', function() {
          languageButtons.forEach(btn => btn.classList.remove('active'));
          this.classList.add('active');
          const selectedLanguage = this.getAttribute('data-lang');
          document.cookie = "googtrans=/en/" + selectedLanguage + "; path=/;";
          localStorage.setItem('selectedLanguage', selectedLanguage);
      });
    });
  
      function changeFontSize(size) {
        var content = document.getElementById('content');
        switch (size) {
          case 'small':
            content.style.fontSize = '18px';
            fontSize = '18px';
            break;
          case 'medium':
            content.style.fontSize = '24px';
            fontSize = '24px';
            break;
          case 'large':
            content.style.fontSize = '28px';
            fontSize = '28px';
            break;
          case 'larger':
            content.style.fontSize = '30px';
            fontSize = '30px';
            break;
        }

        localStorage.setItem('fontSize', fontSize); // saves to local browser storage
      }
  
      let url = "http://127.0.0.1:8000/PPST/testStart/" + "{{ testId }}";
      document.getElementById("startTest").addEventListener("click", function () {
        window.speechSynthesis.cancel();
        window.location.replace(url); // does not allow going back in browser history
      });

      const sizeButtons = document.querySelectorAll('#controls button');
      sizeButtons.forEach(btn => btn.addEventListener('click', function() {
      sizeButtons.forEach(b => b.classList.remove('selected'));
      this.classList.add('selected');
  }));
  </script>
  </body>
  </html>