<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Philadelphia Pointing Span Test - Settings</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'settings.css' %}">
</head>

<script>
  function handleTTSClick() {
    const img = document.getElementById("tts_image");
    const textToSpeech = `
      Select english, spanish, french or german. 
      text size can be changed to small, medium, large or larger. 
      proceed button below.`;

    const utterance = new SpeechSynthesisUtterance(textToSpeech);
    utterance.volume = 0.5;

    img.classList.add("speaking");

    utterance.onend = () => {
      img.classList.remove("speaking");
    };

    window.speechSynthesis.speak(utterance);
  }
</script>

<body>
  <div class="container">
    <div class="card">
      <div class="header">
        <h1>Settings</h1>
      </div>

      <div class="actions">
        <div class="main__img--container">
          <img src="{% static 'images/audio.png' %}" alt="Audio icon" id="tts_image" onclick="handleTTSClick()">
        </div>
      </div>

      <div class="info-box">
        <h2>Choose Language</h2>
        <div id="language-button" class="actions">
          <button type="button" data-lang="en" class="language-button">English</button>
          <button type="button" data-lang="es" class="language-button">Spanish</button>
          <button type="button" data-lang="fr" class="language-button">French</button>
          <button type="button" data-lang="de" class="language-button">German</button>
        </div>
      </div>

      <!-- Unified Text Sample + Controls -->
      <div class="info-box">
        <h2>Text Sample & Size</h2>
        <div id="content">
          <p>Sample text to see font sizes.</p>
        </div>

        <div id="text-size-button" class="actions">
          <button type="button" class="text-size-button" onclick="changeFontSize('medium')">Medium</button>
          <button type="button" class="text-size-button" onclick="changeFontSize('large')">Large</button>
          <button type="button" class="text-size-button" onclick="changeFontSize('larger')">Larger</button>
        </div>
      </div>

      <div class="actions">
        <button id="startTest" class="button">Proceed</button>
      </div>

      
    </div>
  </div>

  <script>
    // saves language to local storage
    const languageButtons = document.querySelectorAll('.language-button');

    languageButtons.forEach(button => {
      button.addEventListener('click', function () {
        languageButtons.forEach(btn => btn.classList.remove('active'));
        this.classList.add('active');
        const selectedLanguage = this.getAttribute('data-lang');
        document.cookie = "googtrans=/en/" + selectedLanguage + "; path=/;";
        localStorage.setItem('selectedLanguage', selectedLanguage);
      });
    });

    const textSizeButtons = document.querySelectorAll('.text-size-button');

    textSizeButtons.forEach(button => {
      button.addEventListener('click', function () {
        textSizeButtons.forEach(btn => btn.classList.remove('active'));
        this.classList.add('active');
      })
    })

    function changeFontSize(size) {
      var content = document.getElementById('content');
      let fontSize;
      switch (size) {
        case 'medium':
          fontSizeStim = '250px';
          fontSizeButton = '50px';
          fontSize = '10px'
          break;
        case 'large':
          fontSizeStim = '475px';
          fontSizeButton = '65px';
          fontSize = '20px'
          break;
        case 'larger':
          fontSizeStim = '515px';
          fontSizeButton = '80px';
          fontSize = '32px'
          break;
      }

      content.style.fontSize = fontSize;
      
      localStorage.setItem('fontSizeStim', fontSizeStim);
      localStorage.setItem('fontSizeButton', fontSizeButton)
    }
    let url = "http://127.0.0.1:8000/PPST/testStart/" + "{{ testId }}";
      document.getElementById("startTest").addEventListener("click", function () {
        window.speechSynthesis.cancel();
        window.location.replace(url); // does not allow going back in browser history
      });
  </script>
</body>

</html>
