<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/doctorHomePage.css">
    </head>

    <nav class="navbar" id = "DrNavbar">
        <div class="navbar_container">
            <a href="/" id = "navbar_logo"></a>
            <div class = "navbar_toggle" id = "mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar_menu">
                <li class="navbar_item">
                    <a href="/DoctorsNavigations/patientLogs.html" class ="navbar_links">
                        Patient Logs
                    </a>
                </li>
                <li class="navbar_item">
                    <a href="/DoctorsNavigations/averageStatistics.html" class ="navbar_links">
                        Average Statistics
                    </a>
                </li>
                <li class="navbar_item">
                    <a href="/DoctorsNavigations/testCreation.html" class ="navbar_links">
                        Test Creation
                    </a>
                </li>
                <li class= "navbar_btn">
    
                </li>
            </ul>
        </div>
    </nav>
    <body>
        <img src="/Images/SQ.jpg" alt="pic" id="main__img">
        <img src="/Images/Goomba.webp" alt="pic" id="main__img">
    </body>
    </html>
