:root{
    --primary-color: #965531;
    --secondary-color:#3b5c38;
    --accent-color: #a0da9b;
    --background-color: #f7f4de;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--background-color);
}
.banner {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--background-color);
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    position: aboslute;
    top: 0;

}

.banner-text {
  margin-left: 0%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.box {
  width: 90vw;
  max-width: 500px;
  aspect-ratio: 1 / 1;
  height: 500px;
  margin: 50px;
  border-radius: 8px;
  border: 8px solid black;
  display: flex;
  font-size: 250px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
.grey-box {
  background-color: grey;
}
.digit-box,
.letter-box {
  width: 120px;
  height: 120px;
  margin: 10px;
  border-radius: 8px;
  border: 3px solid black;
  display: flex;
  font-size: 80px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.submit-button {
    padding: 10px;
    width: 125px;
    height: 65px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    color: var(--background-color);
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
}

.submit-button:hover {
    background-color: var(--secondary-color);
}

.clicked {
  background-color: grey;
  pointer-events: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
}

.modal-content {
    background-color: #f7f4de;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
}

.modal-content p {
    font-size: 20px;
    color: #333;
}

.modal-content button {
    background-color: #965531; 
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.hidden {
    display: none;
}

@media (max-width: 600px) {
    .digit-box,
    .letter-box {
        width: 60px;
        height: 60px;
    }

    .box {
        font-size: 18vw;
        margin: 20px auto;
    }

    .modal-content {
        margin: 30% auto;
    }
}