:root{
  --primary-color: #965531;
  --secondary-color:#3b5c38;
  --accent-color: #a0da9b;
  --background-color: #f7f4de;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
  
}

#search { /* https://www.w3schools.com/howto/howto_js_filter_table.asp */ 
  background-image: url("/static/images/search-icon.png"); /* Add a search icon to input */
  background-size: 20px 20px;
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 30%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
  float: right;
}

h1{
  text-align: center;
  color: var(--secondary-color);
  letter-spacing: 3px;

  /* text-shadow: 0 0 3px #473514, 0 0 5px #ffffff; */

  font-size: 40px;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h2{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.doctor_name{
  font-style: italic;

  color: var(--secondary-color);
}

.test-table {
    width: 100%;  /* take up width of screen */
    border-collapse: collapse; 
}

.test-table th,
.test-table td { /* table headers */
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.test-table th {
    background-color: #542b0d;
    color: #ffffff ;
}

.test-table td button {
    width: 100%;
    height: 100%;
    box-sizing: border-box; /* ensures the button accounts for borders/padding properly */
    display: block; /* ensures the width/height properties apply fully */
}

.download-button {
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    cursor: pointer;
  
    /* transparent background*/
    background-color: transparent;
    border: 2px solid #000000;
    border-radius: 4px;
    color: #000000;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;

    text-decoration: none; /* un-underline link */
}
  
.download-button:hover {
    background-color: #633114;
    color: #fff;
}

html {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}